@*@model IEnumerable<Staff>*@
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Automotive_Repair_WebApp.Models.Staff>
<link href="~/css/ourteam.css" rel="stylesheet" />

<link href="~/css/scroll1.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Aboutus";
}
<div id="progressBarContainer">
    <div id="progressBar"></div>
</div> @*shows the progressbar on the right side of the page*@

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
@if (Model.Any())
{
    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="our_team">
            @foreach (var staff in Model)
            {
                <div class="team_member">
                    <div class="member_img">
                        @*src="https://lh4.googleusercontent.com/-jqw7tla7R7I/WU84KqlnHjI/AAAAAAAAzs8/NuWva9ogN6kw0QVFzpBTAGYnZmooLH9swCLIBGAYYCw/w1440-h810-k-no/"*@
                        <img src="~/Uploads/@staff.ProfilePicture" alt="our_team"> @*shows the profile picture *@
                        <div class="social_media">
                            <div  class="facebook item"><i class="fab fa-facebook-f"></i></div>
                            <div class="twitter item"><i class="fab fa-twitter"></i></div>
                            <div href="https://www.instagram.com/" class="instagram item"><i href="https://www.instagram.com/" class="fab fa-instagram"></i></div>
                        </div>
                    </div>
                    <h3>@staff.Name</h3>
                    <span>@staff.Occupation</span>
                    <p>@staff.Email<br>@staff.Experience Years<br>@staff.Department</p>
                </div>
            }    
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Staffs" asp-action="Create">
                Add new user
            </a>
        </div>
    </div>
}



<script src="~/js/bar.js"></script>
